{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 编辑订单 {% endblock %}

{% block page_content %}
    <div class="page-header">
{#    <h4>业务员：{{ current_user.username }}</h4>#}

{#        <p>客户:{{ kehu.id }}</p>#}
{#        <p>小区:{{ kehu.xiaoqu.xiaoqu }}</p>#}
{#        <p>栋号:{{ kehu.donghao }}</p>#}
{#        <p>房号:{{ kehu.fanghao }}</p>#}
{#        <p>称呼:{{ kehu.chenghu }}</p>#}

           <div class="panel panel-default">
                <div class="panel-heading"> <a class="btn btn-primary btn-sm glyphicon glyphicon-chevron-left" href="{{ url_for('main.showkehudd',id=kehu.id) }}">返回</a> 客户: {{ kehu.id }}</div>
                <div class="post-body">
                    <blockquote>

{#                    <ul class="list-unstyled">#}
{#                    <li>小区: {{ kehu.xiaoqu.xiaoqu }} 「 {{ kehu.xiaoqu.dizhi }} 」</li>#}
{#                    <li>房间: {{ kehu.fangjian }}</li>#}
{#                    <li>称呼: {{ kehu.chenghu }}</li>#}
{#                    <li>电话: {{ kehu.tel }}</li>#}
{#                    <li>状态: {{ kehu.status }}</li>#}
{#                    </ul>#}
                <ul class="list-unstyled">

                    <li>房间: {{ kehu.xiaoqu.xiaoqu }} 「 {{ kehu.xiaoqu.dizhi }} 」{{ kehu.fangjian }}</li>
                    <li>客户: {{ kehu.chenghu }}（{{ kehu.tel }}）
                        {% if kehu.status == 1 %}
                            已测尺
                        {% elif kehu.status == 2 %}
                            已下单
                        {% elif kehu.status == 3 %}
                            已安装
                        {% elif kehu.status == 4 %}
                            已清款
                        {% else %}
                            状态有误
                        {% endif %}
                    </li>
                    <li>备注: {{ kehu.beizhu }}</li>
                </ul>

                    </blockquote>
                </div>
{#                <div class="panel-footer"></div>#}
            </div>

{#    <p>客户（{{ kehu.id }}）{{ kehu.xiaoqu.xiaoqu }}小区 {{ kehu.donghao }}栋 {{ kehu.fanghao }}号房 {{ kehu.chenghu }}（{{ kehu.tel }}）</p>#}
{#        <p>状态:{{ kehu.status }}</p>#}
{#        {% if (kehu.status != 'No') %}#}
{#            <p>下单日:{{ moment(kehu.xdtime).format('YY年M月D日 H时') }}</p>#}
{#        {% endif %}#}
{#     </div>#}

{#     <div>#}
{##}
{#        <p>产品:{{ chanpin.pinming }}</p>#}
{#         <hr>#}
{#        {{ wtf.quick_form(form) }}#}
{#    </div>#}


           <div class="panel panel-primary">
                <div class="panel-heading"> <h4>( {{ chanpin.id }} ) {{ chanpin.pinming }}</h4></div>
                <div class="post-body">
                    <blockquote>
                        {{ wtf.quick_form(form) }}
                    </blockquote>
                    <img height="180" src="/static/upload/{{ imgsrc }}">
                </div>
                <div class="panel-footer"></div>
            </div>

{% endblock %}
