{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 广东碧云量尺跟单系统 {% endblock %}

{% block page_content %}

    {#    <div class="panel panel-primary">#}
    {#        <div class="panel-heading">#}
    {#            {{ prewhere }}#}
    {#        </div>#}
    {#        <div class="post-body">#}
    {#            <blockquote>#}
    {#                {{ wtf.quick_form(form) }}#}
    {#            </blockquote>#}
    {#        </div>#}
    {#        <div class="panel-footer"></div>#}
    {#    </div>#}
    {#     <h3>安装队: {{ current_user.username }}</h3>#}

    {% for kehu in kehus %}

        {{ set_var(0) }}
        {% for dingdant in kehu.dingdans %}
            {% if dingdant.dingdan_azd == azdobj and dingdant.status in [7] %}
                {{ set_var(1) }}
            {% endif %}
        {% endfor %}

        {% if get_var() == 1 %}

            <div class="panel panel-default panel-danger">
                <div class="panel-heading">
                    <ul class="list-unstyled">
                        <li>地址: {{ kehu.xiaoqu.dizhi }}</li>
                        <li>小区: {{ kehu.xiaoqu.xiaoqu }}（{{ kehu.fangjian }}）</li>
                        <li>客户: {{ kehu.chenghu }}（{{ kehu.tel }}）</li>
                    </ul>

                </div>
                <div class="panel-body">

                    <ol>
                        {% for dingdan in kehu.dingdans %}
                            {% if  dingdan.dingdan_azd == azdobj and dingdan.status  in [7,8,9] %}
                                <li>
                                    {% if dingdan.status == 7 %}
                                        【<span style="font-weight:bold;background-color: beige ;color:red;">派工</span>】
                                        ( {{ moment(dingdan.time6).fromNow(refresh=True) }})
                                    {% elif dingdan.status == 8 or dingdan.status == 9 %}
                                        「<span style="font-weight:bold;color:blue;">已完成</span>」
                                        ( {{ moment(dingdan.time7).fromNow(refresh=True) }})
                                    {% else %}
                                        {#                                        {{ dingdan.status }}#}
                                    {% endif %}
                                    {{ dingdan.chanpin.pinming }}/{{ dingdan.weizhi }}
                                    <button type="button" class="btn btn-primary glyphicon glyphicon-th-list"
                                            data-toggle="collapse" data-target="#c{{ dingdan.id }}">
                                        详细
                                    </button>
                                    <div id="c{{ dingdan.id }}">
                                        {{ macors.render_listcpvar(dingdan) }}
                                    </div>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ol>

                </div>
            </div>

        {% endif %}

    {% endfor %}
    {#----------^^待接单、安装    ..已完成安装----------#}
    <hr>
    {% for kehu in kehus %}

        {{ set_var(0) }}
        {% for dingdant in kehu.dingdans %}
            {% if dingdant.dingdan_azd == azdobj and dingdant.status in [8,9] %}
                {{ set_var(1) }}
            {% endif %}
        {% endfor %}

        {% for dingdant in kehu.dingdans %}
            {% if dingdant.dingdan_azd == azdobj and dingdant.status in [7] %}
                {{ set_var(0) }}
            {% endif %}
        {% endfor %}

        {% if get_var() == 1 %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="list-unstyled">
                        <li>地址: {{ kehu.xiaoqu.dizhi }}</li>
                        <li>小区: {{ kehu.xiaoqu.xiaoqu }}{{ kehu.fangjian }}</li>
                        <li>客户: {{ kehu.chenghu }}（{{ kehu.tel }}）</li>
                    </ul>
                    <button type="button" class="btn btn-primary glyphicon glyphicon-th-list"
                            data-toggle="collapse" data-target="#k{{ kehu.id }}">
                        产品
                    </button>
                </div>
                <div id='k{{ kehu.id }}' class="panel-body collapse off">

                    <ol>
                        {% for dingdan in kehu.dingdans %}
                            {% if  dingdan.dingdan_azd == azdobj and dingdan.status  in [7,8,9] %}
                                <li>
                                {% if dingdan.status == 7 %}
                                    【<span style="font-weight:bold;background-color: beige ;color:red;">派工</span>】
                                    ( {{ moment(dingdan.time6).fromNow(refresh=True) }})
                                {% elif dingdan.status == 8 or dingdan.status == 9 %}
                                    「<span style="font-weight:bold;color:blue;">已完成</span>」
                                    ( {{ moment(dingdan.time7).fromNow(refresh=True) }})
                                {% else %}
                                    {#                                        {{ dingdan.status }}#}
                                {% endif %}
                                {{ dingdan.chanpin.pinming }}/{{ dingdan.weizhi }}
                                <button type="button" class="btn btn-primary glyphicon glyphicon-th-list"
                                        data-toggle="collapse" data-target="#c{{ dingdan.id }}">
                                    详细
                                </button>
                                <div id="c{{ dingdan.id }}" class="collapse off">
                                    {{ macors.render_listcpvar(dingdan) }}
                                </div>
                            {% endif %}

                        {% endfor %}
                    </ol>

                </div>
            </div>

        {% endif %}

    {% endfor %}

{% endblock %}
