{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} To-Do {% endblock %}

{% block page_content %}
{#    <div class="page-header">#}
{#    <h4>订货员：{{ current_user.username }}</h4>#}
{#        <p>订货列表</p>#}
{#    </div>#}


    <ul class="nav nav-pills">
        <li class="active"><a href="#A" data-toggle="pill">隐形网</a></li>
        <li><a href="#B" data-toggle="pill">纱门</a></li>
        <li><a href="#C" data-toggle="pill">晾衣杆</a></li>
        <li><a href="#D" data-toggle="pill">纱窗</a></li>
        <li><a href="#E" data-toggle="pill">指纹锁</a></li>
        <li><a href="#F" data-toggle="pill">晾衣机</a></li>
        <li><a href="#G" data-toggle="pill">窗花</a></li>

    </ul>
    <br>
    <div class="tab-content">

        <div class="tab-pane active" id="A">

          <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-success " href="{{  url_for('main.outtoxls', pm='隐形网') }}" >导出数据xls</a>
                    <a class="btn btn-success " href="{{  url_for('main.taggetit', pm='隐形网') }}" >标志已订货</a>
                </div>
          </div>

            {% for dingdan in dingdans %}

                {% if dingdan.chanpin.pinming == '隐形网' %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>[ {{ dingdan.id }} ] 隐形网</h4></div>
                        <div class="post-body">
                            <blockquote>
                            <ul>
                                <li>位置: {{ dingdan.weizhi }}</li>
                                <li>数量: {{ dingdan.shuliang }}</li>
                                <li>型号: {{ dingdan.xinghao }}</li>
                                <li>宽(mm): {{ dingdan.kuan_chang }}</li>
                                <li>高(mm): {{ dingdan.gao }}</li>
                                <li>颜色: {{ dingdan.color }}</li>
                                <li>状态: {{ dingdan.status }}</li>
                            </ul>
                            </blockquote>
                        </div>
                        <div class="panel-footer">
                          <blockquote>

                                <p>地址: 「 {{ dingdan.kehu.xiaoqu.weizhi }} 」{{ dingdan.kehu.xiaoqu.xiaoqu }} 小区 {{ dingdan.kehu.donghao }} 栋 {{ dingdan.kehu.fanghao }} 房</p>
                                <p>称呼: {{ dingdan.kehu.chenghu }}</p>
                                <p>电话: {{ dingdan.kehu.tel }}</p>

                          </blockquote>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

        <div class="tab-pane" id="B">

          <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-success " href="{{  url_for('main.outtoxls', pm='纱门') }}" >导出数据xls</a>
                    <a class="btn btn-success " href="{{  url_for('main.taggetit', pm='纱门') }}" >标志已订货</a>
                </div>
          </div>

            {% for dingdan in dingdans %}

                {% if dingdan.chanpin.pinming == '纱门' %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>[ {{ dingdan.id }} ] 纱门</h4></div>
                        <div class="post-body">
                            <blockquote>
                            <ul>
                                <li>位置: {{ dingdan.weizhi }}</li>
                                <li>数量: {{ dingdan.shuliang }}</li>
                                <li>型号: {{ dingdan.xinghao }}</li>
                                <li>宽(mm): {{ dingdan.kuan_chang }}</li>
                                <li>高(mm): {{ dingdan.gao }}</li>
                                <li>颜色: {{ dingdan.color }}</li>

                                <li>内空宽(mm): {{ dingdan.meikuan_digao }}</li>
                                <li>扇数: {{ dingdan.shanshu }}</li>
                                <li>中横条数: {{ dingdan.zhonghengtiaoshu_gantiaoshu }}</li>
                                <li>锁位: {{ dingdan.shuowei }}</li>
                                <li>装法: {{ dingdan.zhangfa }}</li>
                                <li>状态: {{ dingdan.status }}</li>
                            </ul>
                            </blockquote>
                        </div>
                        <div class="panel-footer">
                          <blockquote>

                                <p>地址: 「 {{ dingdan.kehu.xiaoqu.weizhi }} 」{{ dingdan.kehu.xiaoqu.xiaoqu }} 小区 {{ dingdan.kehu.donghao }} 栋 {{ dingdan.kehu.fanghao }} 房</p>
                                <p>称呼: {{ dingdan.kehu.chenghu }}</p>
                                <p>电话: {{ dingdan.kehu.tel }}</p>

                          </blockquote>
                        </div>
                    </div>
                {% endif %}


            {% endfor %}
        </div>

        <div class="tab-pane" id="C">

          <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-success " href="{{  url_for('main.outtoxls', pm='晾衣架') }}" >导出数据xls</a>
                    <a class="btn btn-success " href="{{  url_for('main.taggetit', pm='晾衣架') }}" >标志已订货</a>
                </div>
          </div>


            {% for dingdan in dingdans %}

                {% if dingdan.chanpin.pinming == '晾衣架' %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>[ {{ dingdan.id }} ] 晾衣架</h4></div>
                        <div class="post-body">
                            <blockquote>
                            <ul>
                                <li>位置: {{ dingdan.weizhi }}</li>
                                <li>数量: {{ dingdan.shuliang }}</li>
                                <li>型号: {{ dingdan.xinghao }}</li>
                                <li>长(mm): {{ dingdan.kuan_chang }}</li>
                                <li>高(mm): {{ dingdan.gao }}</li>
                                <li>颜色: {{ dingdan.color }}</li>
                                <li>杆条数: {{ dingdan.zhonghengtiaoshu_gantiaoshu }}</li>
                                <li>状态: {{ dingdan.status }}</li>
                            </ul>
                            </blockquote>
                        </div>
                        <div class="panel-footer">
                          <blockquote>

                                <p>地址: 「 {{ dingdan.kehu.xiaoqu.weizhi }} 」{{ dingdan.kehu.xiaoqu.xiaoqu }} 小区 {{ dingdan.kehu.donghao }} 栋 {{ dingdan.kehu.fanghao }} 房</p>
                                <p>称呼: {{ dingdan.kehu.chenghu }}</p>
                                <p>电话: {{ dingdan.kehu.tel }}</p>

                          </blockquote>
                        </div>
                    </div>
                {% endif %}



            {% endfor %}
        </div>
        <div class="tab-pane" id="D">

          <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-success " href="{{  url_for('main.outtoxls', pm='纱窗') }}" >导出数据xls</a>
                    <a class="btn btn-success " href="{{  url_for('main.taggetit', pm='纱窗') }}" >标志已订货</a>
                </div>
          </div>

            {% for dingdan in dingdans %}

                {% if dingdan.chanpin.pinming == '纱窗' %}
                     <div class="panel panel-default">
                         <div class="panel-heading"><h4>[ {{ dingdan.id }} ] 纱窗</h4></div>
                        <div class="post-body">
                            <blockquote>
                            <ul>
                                <li>位置: {{ dingdan.weizhi }}</li>
                                <li>数量: {{ dingdan.shuliang }}</li>
                                <li>型号: {{ dingdan.xinghao }}</li>
                                <li>宽(mm): {{ dingdan.kuan_chang }}</li>
                                <li>高(mm): {{ dingdan.gao }}</li>
                                <li>颜色: {{ dingdan.color }}</li>

                                <li>底高(mm): {{ dingdan.meikuan_digao }}</li>
                                <li>等分数: {{ dingdan.dengfenshu }}</li>
                                <li>有否横条: {{ dingdan.ishaveht }}</li>
                                <li>锁位: {{ dingdan.shuowei }}</li>
                                <li>状态: {{ dingdan.status }}</li>
                            </ul>
                            </blockquote>
                        </div>
                        <div class="panel-footer">
                          <blockquote>

                                <p>地址: 「 {{ dingdan.kehu.xiaoqu.weizhi }} 」{{ dingdan.kehu.xiaoqu.xiaoqu }} 小区 {{ dingdan.kehu.donghao }} 栋 {{ dingdan.kehu.fanghao }} 房</p>
                                <p>称呼: {{ dingdan.kehu.chenghu }}</p>
                                <p>电话: {{ dingdan.kehu.tel }}</p>

                          </blockquote>
                        </div>
                    </div>
                {% endif %}



            {% endfor %}
        </div>

        <div class="tab-pane" id="E">

          <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-success " href="{{  url_for('main.outtoxls', pm='指纹锁') }}" >导出数据xls</a>
                    <a class="btn btn-success " href="{{  url_for('main.taggetit', pm='指纹锁') }}" >标志已订货</a>
                </div>
          </div>

            {% for dingdan in dingdans %}


                {% if dingdan.chanpin.pinming == '指纹锁' %}
                     <div class="panel panel-default">
                         <div class="panel-heading"><h4>[ {{ dingdan.id }} ] 指纹锁</h4></div>
                        <div class="post-body">
                            <blockquote><ul>
                                <li>位置: {{ dingdan.weizhi }}</li>
                                <li>数量: {{ dingdan.shuliang }}</li>
                                <li>型号: {{ dingdan.xinghao }}</li>
                                <li>颜色: {{ dingdan.color }}</li>

                                <li>锁位: {{ dingdan.shuowei }}</li>
                                <li>状态: {{ dingdan.status }}</li>
                            </ul></blockquote>
                        </div>
                        <div class="panel-footer">
                          <blockquote>

                                <p>地址: 「 {{ dingdan.kehu.xiaoqu.weizhi }} 」{{ dingdan.kehu.xiaoqu.xiaoqu }} 小区 {{ dingdan.kehu.donghao }} 栋 {{ dingdan.kehu.fanghao }} 房</p>
                                <p>称呼: {{ dingdan.kehu.chenghu }}</p>
                                <p>电话: {{ dingdan.kehu.tel }}</p>

                          </blockquote>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

        </div>

    </div>



{##}
{##}
{#    {% for dingdan in dingdans %}#}
{#            <div class="panel panel-default">#}
{##}
{#        {% if dingdan.chanpin.pinming == '隐形网' %}#}
{##}
{#                <div class="panel-heading">[ {{ dingdan.id }} ] 隐形网</div>#}
{#                <div class="post-body">#}
{#                    <blockquote>#}
{#                    <ul>#}
{#                        <li>位置: {{ dingdan.weizhi }}</li>#}
{#                        <li>数量: {{ dingdan.shuliang }}</li>#}
{#                        <li>型号: {{ dingdan.xinghao }}</li>#}
{#                        <li>宽(mm): {{ dingdan.kuan_chang }}</li>#}
{#                        <li>高(mm): {{ dingdan.gao }}</li>#}
{#                        <li>颜色: {{ dingdan.color }}</li>#}
{#                        <li>状态: {{ dingdan.status }}</li>#}
{#                    </ul>#}
{#                    </blockquote>#}
{#                </div>#}
{#                <div class="panel-footer">状态</div>#}
{##}
{#        {% elif dingdan.chanpin.pinming == '纱门' %}#}
{##}
{#                <div class="panel-heading">[ {{ dingdan.id }} ] 纱门</div>#}
{#                <div class="post-body">#}
{#                    <blockquote>#}
{#                    <ul>#}
{#                        <li>位置: {{ dingdan.weizhi }}</li>#}
{#                        <li>数量: {{ dingdan.shuliang }}</li>#}
{#                        <li>型号: {{ dingdan.xinghao }}</li>#}
{#                        <li>宽(mm): {{ dingdan.kuan_chang }}</li>#}
{#                        <li>高(mm): {{ dingdan.gao }}</li>#}
{#                        <li>颜色: {{ dingdan.color }}</li>#}
{##}
{#                        <li>内空宽(mm): {{ dingdan.meikuan_digao }}</li>#}
{#                        <li>扇数: {{ dingdan.shanshu }}</li>#}
{#                        <li>中横条数: {{ dingdan.zhonghengtiaoshu_gantiaoshu }}</li>#}
{#                        <li>锁位: {{ dingdan.shuowei }}</li>#}
{#                        <li>装法: {{ dingdan.zhangfa }}</li>#}
{#                        <li>状态: {{ dingdan.status }}</li>#}
{#                    </ul>#}
{#                    </blockquote>#}
{#                </div>#}
{#                <div class="panel-footer">状态</div>#}
{##}
{#        {% elif dingdan.chanpin.pinming == '晾衣架' %}#}
{#                 <div class="panel-heading">[ {{ dingdan.id }} ] 晾衣架</div>#}
{#                <div class="post-body">#}
{#                    <blockquote>#}
{#                    <ul>#}
{#                        <li>位置: {{ dingdan.weizhi }}</li>#}
{#                        <li>数量: {{ dingdan.shuliang }}</li>#}
{#                        <li>型号: {{ dingdan.xinghao }}</li>#}
{#                        <li>长(mm): {{ dingdan.kuan_chang }}</li>#}
{#                        <li>高(mm): {{ dingdan.gao }}</li>#}
{#                        <li>颜色: {{ dingdan.color }}</li>#}
{#                        <li>杆条数: {{ dingdan.zhonghengtiaoshu_gantiaoshu }}</li>#}
{#                        <li>状态: {{ dingdan.status }}</li>#}
{#                    </ul>#}
{#                    </blockquote>#}
{#                </div>#}
{#                <div class="panel-footer">状态</div>#}
{##}
{##}
{#        {% elif dingdan.chanpin.pinming == '纱窗' %}#}
{#                <div class="panel-heading">[ {{ dingdan.id }} ] 纱窗</div>#}
{#                <div class="post-body">#}
{#                    <blockquote>#}
{#                    <ul>#}
{#                        <li>位置: {{ dingdan.weizhi }}</li>#}
{#                        <li>数量: {{ dingdan.shuliang }}</li>#}
{#                        <li>型号: {{ dingdan.xinghao }}</li>#}
{#                        <li>宽(mm): {{ dingdan.kuan_chang }}</li>#}
{#                        <li>高(mm): {{ dingdan.gao }}</li>#}
{#                        <li>颜色: {{ dingdan.color }}</li>#}
{##}
{#                        <li>底高(mm): {{ dingdan.meikuan_digao }}</li>#}
{#                        <li>等分数: {{ dingdan.dengfenshu }}</li>#}
{#                        <li>有否横条: {{ dingdan.ishaveht }}</li>#}
{#                        <li>锁位: {{ dingdan.shuowei }}</li>#}
{#                        <li>状态: {{ dingdan.status }}</li>#}
{#                    </ul>#}
{#                    </blockquote>#}
{#                </div>#}
{#                <div class="panel-footer">状态</div>#}
{##}
{#        {% elif dingdan.chanpin.pinming == '指纹锁' %}#}
{#                <div class="panel-heading">[ {{ dingdan.id }} ] 指纹锁</div>#}
{#                <div class="post-body">#}
{#                    <blockquote><ul>#}
{#                        <li>位置: {{ dingdan.weizhi }}</li>#}
{#                        <li>数量: {{ dingdan.shuliang }}</li>#}
{#                        <li>型号: {{ dingdan.xinghao }}</li>#}
{#                        <li>颜色: {{ dingdan.color }}</li>#}
{##}
{#                        <li>锁位: {{ dingdan.shuowei }}</li>#}
{#                        <li>状态: {{ dingdan.status }}</li>#}
{#                    </ul></blockquote>#}
{#                </div>#}
{##}
{##}
{#        {% endif %}#}
{##}
{##}
{#                <div class="panel-footer">#}
{#                  <blockquote>#}
{##}
{#                        <p>地址: 「 {{ dingdan.kehu.xiaoqu.weizhi }} 」{{ dingdan.kehu.xiaoqu.xiaoqu }} 小区 {{ dingdan.kehu.donghao }} 栋 {{ dingdan.kehu.fanghao }} 房</p>#}
{#                        <p>称呼: {{ dingdan.kehu.chenghu }}</p>#}
{#                        <p>电话: {{ dingdan.kehu.tel }}</p>#}
{##}
{#                  </blockquote>#}
{#                </div>#}
{#            </div>#}
{#    {% endfor %}#}


{#<table class="table">#}
{#  <thead>#}
{#    <tr>#}
{#      <th>项目</th>#}
{#      <th>金额</th>#}
{#      <!--th>日期</th-->#}
{#      <th>经过</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{##}
{#    {% for bujuan in bujuans %}#}
{#    <tr>#}
{#      <td>{{ bujuan.xiangmu.xiangmu }}</td>#}
{#      <td>{{ bujuan.jine }}</td>#}
{#      <!--td>{{ moment(bujuan.outtime).format('YY年M月D日') }}</td-->#}
{#      <td>{{ moment(bujuan.outtime).fromNow(refresh=True) }}{% if loop.first %}<!--span class="badge">新</span-->{% endif %}</td>#}
{##}
{#    </tr>#}
{##}
{#    {% endfor %}#}
{#  </tbody>#}
{#</table>#}

{% endblock %}
